.row {
  margin-bottom: 15px;
}
.row > div {
  border: 3px solid gray;
  background-color: azure;
}

#header {
	padding: 15px;
	font-size: 30px;
	font-weight: bold;
	background-color: lavenderblush;
}

h4 {
	text-align: center;
	font-weight: bold;
}

.col-md-4, .col-sm-6, .col-sm-12, .col-xs-12 {
	height: 700px;
}

h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}



#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */

}

@media (min-width: 770px) {

navbar-collapse {
	display: hide;
}

	}