.row {
  margin-bottom: 15px;
  font-family: Palatino, URW Palladio L, serif;
}
.row > div {
  border: 3px solid gray;
  background-color: azure;
}

h3 {
	text-align: center;
	font-weight: bold;
}

.col-md-4, .col-sm-6, .col-sm-12, .col-xs-12 {
	height: 500px;
}

h1 { 
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  font-family: Luminari, fantasy
}

.text-center {
	font-size: 25px;
	font-family: Trattatello, fantasy
}

#header-nav {
  background-color: palegreen;
  border-radius: 0;
  border: 0;
}
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
}